*.beam
.*.swp
src/.*.swp
xref_analyze
.dialyzer_plt
.eunit
.rebar/
tags
erltags
xref_*.gv
xref_*.png
xref_*.ps
xref_*.pdf
xref_an*.txt
src/proba.erl
doc/*
dialyzer_output.txt
rebar.lock
rebar3
filtered_warnings.txt
