*.beam
.*.swp
src/.*.swp
xref_analyze
.dialyzer_plt
.eunit
.rebar/
tags
ebin/xref_analyze.app
erltags
ebin/xref_*.gv
ebin/xref_*.png
ebin/xref_*.ps
ebin/xref_*.pdf
ebin/xref_*.txt
xref_*.gv
xref_*.png
xref_*.ps
xref_*.pdf
xref_an*.txt
src/proba.erl
doc/*
